<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
  crossorigin="anonymous"
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
      <hr />

<div class="card">
  
  <div class="card-body">
    <ul>
    <li><h6 class="card-title">Incase of any queries or assistance, please reach out to us at <a href="mailto:helpdesk.cdc@vit.ac.in">helpdesk.cdc@vit.ac.in</a></h6></li>
    <li><h6>Contact us at 0416-220-2740/2841/2842</h6></li>
    <li><h6>Visit us at Silver Jubilee Tower (SJT) 7th Floor</h6></li>
    <li><h6>Know More about Career Development Centre <a href="https://vit.ac.in/cdc-overview" target="_blank">Here</a></h6></li>
</ul>
  </div>
</div>