<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIT SIAP</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <i class="bi bi-megaphone-fill"></i>&nbsp;<b>Announcements</b>
        </div>
        <div class="card-body"></div>
      </div>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
